.catalog {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
.show-more {
  display: block;
  color: black;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 40px;
  margin-bottom: 64px;
}

.product-box {
  margin-top: 40px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-catalog {
  background: url(../images/interior-top.jpeg), rgb(196, 196, 196);
  background-size: cover;
  height: 400px;
}

.catalog-info {
  display: flex;
  margin-top: 64px;
  justify-content: space-between;
  &__path {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 229px;
    &_link {
      color: black;
      text-decoration: none;
    }
  }
  &__selectors {
    display: flex;
  }
  &__ordering_selector,
  &__filtration_selector {
    appearance: none; /* Убираем стандартный вид */
    -webkit-appearance: none; /* Для Safari */
    -moz-appearance: none; /* Для Firefox */
    display: flex;
    align-items: center;
    padding: 10px 54px 10px 20px;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    width: fit-content;
    appearance: none;
    background: url(../images/selector-triangle.svg) no-repeat calc(100% - 22px)
      16px;
  }
  &__ordering {
    margin-left: 10px;
  }
  &__filtration {
    position: relative;
    &_on {
      box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
      display: block;
      width: 446px;
      height: 468px;
      position: absolute;
      right: 0px;
      bottom: -562px;
      background-color: white;
      padding-left: 48px;
      padding-right: 48px;
      padding-top: 40px;
      padding-bottom: 40px;
      /*text*/
      color: rgb(0, 0, 0);
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0%;
      text-align: left;
      &_1,
      &_2 {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
      &_type {
        display: flex;
        flex-direction: column;
        gap: 14px;
      }
      &_delivery-date {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-bottom: 32px;
      }
      &_price {
        margin-bottom: 36px;
        &_range {
          display: flex;
          justify-content: space-between;
        }
      }
      &_all {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 80px;
      }
      &_color {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 29px 0px;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 32px;
      }
      &_color > #white + label:before {
        background-color: white;
      }
      &_color > #black + label:before {
        background-color: black;
      }
      &_color > #gray + label:before {
        background-color: gray;
      }
      &_color > #red + label:before {
        background-color: red;
      }
      &_color > #orange + label:before {
        background-color: orange;
      }
      &_color > #yellow + label:before {
        background-color: yellow;
      }
      &_color > #green + label:before {
        background-color: green;
      }
      &_color > #turquoise + label:before {
        background-color: turquoise;
      }
      &_color > #blue + label:before {
        background-color: blue;
      }
      &_color > #darkblue + label:before {
        background-color: darkblue;
      }
      &_color > #violet + label:before {
        background-color: violet;
      }
      &_color > #darkviolet + label:before {
        background-color: darkviolet;
      }
      &_color > #darkpink + label:before {
        background-color: rgb(216, 154, 255);
      }
      &_color > #pink + label:before {
        background-color: pink;
      }
      &_submit > button[type="submit"] {
        padding: 10px 76px;
        border-radius: 20px;
        background-color: white;
        box-sizing: border-box;
        border: 1px solid rgb(4, 4, 4);
        position: relative;
        left: calc(100% - 252px);
      }
      &_submit {
        position: relative;
      }
      &_submit > button[type="submit"]:hover {
        cursor: pointer;
      }
    }
    &_on form {
      width: 100%;
    }
  }
}

/* Позиционирование всплывающей фильтрации */
.title {
  color: rgb(5, 5, 5);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 14px;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
input[type="radio"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
}
input[type="radio"]:checked + label:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 6px;
  left: 4px;
  top: 7px;
  border: 1px solid black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg) translateY(-50%);
}
.first-circle,
.last-circle {
  height: 6px;
  width: 6px;
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
  position: relative;
  bottom: 3px;
}
.progress-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  width: 100%;
  height: 1px;
  background-color: #000;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 5%;
  background-color: white;
}
input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  top: 30%;
  width: 4px;
  height: 6px;
  left: 4px;
  border: 1px solid black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg) translateY(-50%);
}
button[type="submit"] {
  margin-bottom: 0px;
}
