@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  height: 76px;
  margin-bottom: 64px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid white;
}

.menu {
  display: flex;
  gap: 32px;
}
.menu-mob {
  display: none;
}

.menu > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 32px;
}

.menu__link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: white;
}

.menu-link:hover,
.heading {
  color: white;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  max-width: 792px;
  margin-bottom: 16px;
}

.our-class {
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  width: 792px;
  margin-bottom: 16px;
}

.catalog {
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.product-catalog {
  display: block;
  color: black;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 40px;
  margin-bottom: 64px;
}

.product-special,
.product-for {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
  padding-top: 64px;
}

.product-content {
  display: flex;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  width: 370px;
  flex-direction: column;
}

.product-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 8px;
}

.product-describe {
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.product-box {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.product-box__price {
  display: flex;
  gap: 32px;
}

.new-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.old-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: line-through;
  color: #888888;
}

.news {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}

.btn-subscribe {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 20px;
  width: 260px;
  height: 41px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.contacts__link {
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}

.form__input {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: white;
  width: 288px;
  height: 41px;
  padding-left: 32px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  background-color: transparent;
}

.input-email {
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  width: 260px;
  height: 40px;
  color: rgb(196, 196, 196);
  padding-left: 17px;
  padding-top: 12px;
  padding-bottom: 13px;
  margin-bottom: 8px;
}

.form__input::-moz-placeholder {
  color: white;
}

.form__input::placeholder {
  color: white;
}

.input-email::-moz-placeholder {
  color: rgb(196, 196, 196);
}

.input-email::placeholder {
  color: rgb(196, 196, 196);
}

.logo {
  color: white;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}

.top {
  background: url(../images/top.jpeg), rgb(196, 196, 196);
  background-size: cover;
  height: 735px;
}

.footer-menu {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}

.footer {
  background: rgb(247, 246, 246);
  display: flex;
  gap: 212px;
  padding-top: 32px;
  padding-bottom: 64px;
}
.footer__contacts {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}
.footer__info {
  display: flex;
  gap: 129px;
}
.footer__content {
  display: flex;
  gap: 192px;
}
.footer__icons {
  display: flex;
  gap: 12px;
}
.footer__item a {
  text-decoration: none;
  color: rgb(136, 136, 136);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.footer__logo {
  fill: black;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__link {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}

.news {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
}

.for__item {
  height: 415px;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for__item_1 {
  background-image: url(../images/for-chill.jpeg);
}
.for__item_2 {
  background-image: url(../images/for-work.jpeg);
}
.for__item_3 {
  background-image: url(../images/for-kitchen.jpeg);
}
.for__item_4 {
  background-image: url(../images/for-lullaby.jpeg);
}
.for__item_5 {
  background-image: url(../images/for-bathroom.jpeg);
}
.for__item_small {
  grid-column: span 4;
}
.for__item_big {
  grid-column: span 6;
}
.for__content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.catalog {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.show-more {
  display: block;
  color: black;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
  margin-top: 40px;
  margin-bottom: 64px;
}

.product-box {
  margin-top: 40px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-catalog {
  background: url(../images/interior-top.jpeg), rgb(196, 196, 196);
  background-size: cover;
  height: 400px;
}

.catalog-info {
  display: flex;
  margin-top: 64px;
  justify-content: space-between;
}
.catalog-info__path {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 229px;
}
.catalog-info__path_link {
  color: black;
  text-decoration: none;
}
.catalog-info__selectors {
  display: flex;
}
.catalog-info__ordering_selector, .catalog-info__filtration_selector {
  appearance: none; /* Убираем стандартный вид */
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */
  display: flex;
  align-items: center;
  padding: 10px 54px 10px 20px;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: -moz-fit-content;
  width: fit-content;
  appearance: none;
  background: url(../images/selector-triangle.svg) no-repeat calc(100% - 22px) 16px;
}
.catalog-info__ordering {
  margin-left: 10px;
}
.catalog-info__filtration {
  position: relative;
}
.catalog-info__filtration_on {
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.32);
  display: block;
  width: 446px;
  height: 468px;
  position: absolute;
  right: 0px;
  bottom: -562px;
  background-color: white;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 40px;
  padding-bottom: 40px;
  /*text*/
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}
.catalog-info__filtration_on_1, .catalog-info__filtration_on_2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.catalog-info__filtration_on_type {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.catalog-info__filtration_on_delivery-date {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 32px;
}
.catalog-info__filtration_on_price {
  margin-bottom: 36px;
}
.catalog-info__filtration_on_price_range {
  display: flex;
  justify-content: space-between;
}
.catalog-info__filtration_on_all {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 80px;
}
.catalog-info__filtration_on_color {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 29px 0px;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 32px;
}
.catalog-info__filtration_on_color > #white + label:before {
  background-color: white;
}
.catalog-info__filtration_on_color > #black + label:before {
  background-color: black;
}
.catalog-info__filtration_on_color > #gray + label:before {
  background-color: gray;
}
.catalog-info__filtration_on_color > #red + label:before {
  background-color: red;
}
.catalog-info__filtration_on_color > #orange + label:before {
  background-color: orange;
}
.catalog-info__filtration_on_color > #yellow + label:before {
  background-color: yellow;
}
.catalog-info__filtration_on_color > #green + label:before {
  background-color: green;
}
.catalog-info__filtration_on_color > #turquoise + label:before {
  background-color: turquoise;
}
.catalog-info__filtration_on_color > #blue + label:before {
  background-color: blue;
}
.catalog-info__filtration_on_color > #darkblue + label:before {
  background-color: darkblue;
}
.catalog-info__filtration_on_color > #violet + label:before {
  background-color: violet;
}
.catalog-info__filtration_on_color > #darkviolet + label:before {
  background-color: darkviolet;
}
.catalog-info__filtration_on_color > #darkpink + label:before {
  background-color: rgb(216, 154, 255);
}
.catalog-info__filtration_on_color > #pink + label:before {
  background-color: pink;
}
.catalog-info__filtration_on_submit > button[type=submit] {
  padding: 10px 76px;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  position: relative;
  left: calc(100% - 252px);
}
.catalog-info__filtration_on_submit {
  position: relative;
}
.catalog-info__filtration_on_submit > button[type=submit]:hover {
  cursor: pointer;
}
.catalog-info__filtration_on form {
  width: 100%;
}

/* Позиционирование всплывающей фильтрации */
.title {
  color: rgb(5, 5, 5);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 14px;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

input[type=radio] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
}

input[type=radio]:checked + label:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 6px;
  left: 4px;
  top: 7px;
  border: 1px solid black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg) translateY(-50%);
}

.first-circle,
.last-circle {
  height: 6px;
  width: 6px;
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
  position: relative;
  bottom: 3px;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  width: 100%;
  height: 1px;
  background-color: #000;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 5%;
  background-color: white;
}

input[type=checkbox]:checked + label:after {
  content: "";
  position: absolute;
  top: 30%;
  width: 4px;
  height: 6px;
  left: 4px;
  border: 1px solid black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg) translateY(-50%);
}

button[type=submit] {
  margin-bottom: 0px;
}

.heading-basket {
  color: white;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  width: 792px;
  margin-bottom: 16px;
  margin-top: 127px;
}

.top-basket {
  background: url(../images/basket-top.jpeg), rgb(196, 196, 196);
  background-size: cover;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.for__item {
  height: 415px;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: 0%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for__content {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item_big {
  grid-column: span 6;
}

.for__item_small {
  grid-column: span 4;
}

.for__item_1 {
  background-image: url(../images/for-chill.jpeg);
}

.for__item_2 {
  background-image: url(../images/for-work.jpeg);
}

.for__item_3 {
  background-image: url(../images/for-kitchen.jpeg);
}

.for__item_4 {
  background-image: url(../images/for-lullaby.jpeg);
}

.for__item_5 {
  background-image: url(../images/for-bathroom.jpeg);
} 
.basket {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.basket__form {
  border-radius: 20px;
  background: rgb(247, 246, 246);
  height: 556px;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basket__form-heading {
  margin-top: 42px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}
.basket__form-data {
  padding: 0;
  margin-top: 35px;
}
.basket__form-data-adress {
  margin-top: 44px;
  border-bottom: 1px solid rgb(202, 205, 216);
}
.basket__form-data-name {
  border-bottom: 1px solid rgb(202, 205, 216);
}
.basket__form-data-number {
  margin-top: 44px;
  border-bottom: 1px solid rgb(202, 205, 216);
}
.basket__form-data input {
  width: 288px;
  border: none;
  background-color: rgb(247, 246, 246);
}
.basket__form-data input::-moz-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}
.basket__form-data input::placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;
}
.basket__form-total {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 64px;
}
.basket__form-ordering {
  margin-top: 18px;
}
.basket__form-ordering button {
  width: 290px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 20px;
  color: #000000;
  font-weight: 400;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  text-decoration-line: none;
}
.basket__form-ordering button:hover {
  cursor: pointer;
}
.basket__content {
  grid-column: span 8;
}
.basket__name-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.basket__item {
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  padding-top: 25px;
  padding-bottom: 32px;
  border-top: 0.5px solid rgb(202, 205, 216);
}
.basket__info {
  width: 276px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.basket__info h4 {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500 !important;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.basket__info-description {
  font-size: 14px;
  font-weight: 400;
  color: rgb(136, 136, 136);
}
.basket__info-price {
  color: rgb(5, 5, 5);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
.basket__info h4 {
  font-size: 24px;
  font-weight: 600;
}
.basket__left {
  display: flex;
  gap: 32px;
}
.basket__choice {
  display: flex;
  gap: 7px;
}
.basket__choice-remove, .basket__choice-continue {
  padding-left: 33px;
  padding-right: 34px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  background-color: white;
}
.basket__choice-remove a, .basket__choice-continue a {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
}
.basket__choice-remove:hover, .basket__choice-continue:hover {
  cursor: pointer;
}
.basket__link-box {
  display: flex;
  gap: 30px;
}
.basket__link-box-delete, .basket__link-box-chosen {
  color: #000000;
  font-weight: 400;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  text-decoration-line: underline;
}
.basket__item-number input {
  border: none;
  box-sizing: border-box;
  padding-left: 13px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-right: 24px;
  background: rgb(247, 246, 246);
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 210%;
  letter-spacing: 0px;
  text-align: center;
  width: 71px;
  height: 51px;
}

@media (max-width: 1240px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-box {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer__logo {
    display: none;
  }
  .basket {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 32px;
    margin-top: 64px;
  }
  .basket__choice-continue {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
  }
  .basket__choice-remove {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    margin: 0;
    height: 57px;
  }
  .form__input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .logo {
    font-size: 18px;
    text-align: center;
  }
  .heading {
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 82px;
  }
  .heading-basket {
    font-size: 48px;
    text-align: center;
    margin-top: 82px;
  }
  .our-class {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    width: auto;
    margin: 0;
  }
  .catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration-line: underline;
  }
  .product-for {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
  }
  .product-content img {
    width: 100%;
  }
  .for__content {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: center;
    grid-column: 1/-1;
    height: 375px;
  }
  .for__item_big {
    height: 274px;
  }
  .product-special {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
  }
  .footer {
    flex-wrap: wrap;
    gap: 64px;
    justify-content: center;
  }
  .footer__info {
    gap: 100px;
  }
  .footer__form {
    width: 260px;
  }
  .product-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
  }
  .product-describe {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
  }
  .new-price {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
  }
  .old-price {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: line-through;
  }
  .catalog-info {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
  }
  .catalog-info__filtration_on {
    display: none;
  }
  .catalog-info__selectors {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .catalog-info__path_link {
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
  }
  .catalog-info__ordering {
    margin-left: 0px;
  }
  .product-box {
    justify-content: center;
  }
  .heading-basket {
    width: auto;
  }
  .basket {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 16px;
    margin-top: 64px;
  }
  .basket__name-box {
    display: none;
  }
  .basket__item img {
    display: none;
  }
  .basket__form {
    border-radius: 20px;
    background: rgb(247, 246, 246);
    height: 556px;
    grid-column: span 8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .basket__form-data {
    padding: 0;
    margin-top: 35px;
    width: calc(100% - 55px);
  }
  .basket__form-data input {
    width: 144px;
    border: none;
    background-color: rgb(247, 246, 246);
  }
}/*# sourceMappingURL=style.css.map */